.input{
    border: 2px solid #F28907;  
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 460px;
    margin: 10px 0px;
    padding-left: 15px;
    font-size: 25px;
}

.password-input {
    position: relative;
}

.password-input i {
    position: absolute;
    right: 20px;
    bottom: 35px;
}